.mat-typography {
  padding: 20px;
}
.mat-dialog-title {
  padding-bottom: 10px;
}
.mat-dialog-content p {
  margin-bottom: 8px;
}
.mat-dialog-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
